body{
  background-image: url("https://i.pinimg.com/originals/8c/74/bb/8c74bb4e959d7211e27c10b5980cb970.jpg");
  background-size: cover;
  color: white;
  font-size: 25px;
}
button {
    margin: 15px 10px;
    padding: 20px 30px;
    background-color: grey;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }

  .bookShelf{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 750px;
    margin: 30px;
    padding: 30px;
    background-image: url(img/empty_bookshelf.png);
    background-size: contain;
    border: 10px solid #49280c;
  }

  .book{
    width: 50px;
    height:200px;
    border: 1px solid black;
    display: block;
    margin: 2px;
    padding: 15px;
    text-align:center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    line-height: 1px;
    font-size: 10px;
    font-weight: bold;
    color: white;
  }

  .title{
    color:darkgrey;
    font-size: 18px;
    line-height: 0.1px;
  }

  .book[data-color="0"] {
    background-image: url(img/bookspinedark.png);
    background-size:cover;
  }
  
  .book[data-color="1"] {
    background-image: url(img/bookspinebrwn.png);
    background-size:cover;
  }
  
  .book[data-color="2"] {
    background-image: url(img/bookspine.png);
    background-size:cover;
  }
  
  .book[data-color="3"] {
    background-image: url(img/bookspinegrey.png);
    background-size:cover;
  }

/*Image Styling*/

.librarian-image{
    position: absolute;
    top: 50%;
    left: 60%;
    
    height:1000px;
    width: 500px;
    border-radius: 150px;
    transform: translate(-50%,-60%) scale(0);

}
